{% extends 'women/base.html' %}

{% block content %}
<h1>Проектная работа на тему “Blog site”</h1>
<h3>курс OTUS “Python Developer. Basic”</h3>

<p>Этот проект Python представляет собой типовой блог-проект, в котором пользователь имеет возможность просматривать блоги, выбирать категории, регистрироваться, авторизироваться, добавлять собственные тексты, фотографии.</p>
<p>Админка представляет собой расширенную модель Django. </p>
<p>Используемые технологии: язык Python, фреймворк Django, шаблонизатор Jinja2,  SQL-запросы, СУБД – SQLite3, ListView, DetailView, CreateView, Mixins. Верстка: HTML, CSS. </p>

{% endblock %}
